<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/send-sendgrid">
        <input type="email" name="email">
        <input type="text" name="text">
        <button type="submit" >Send EMAIL</button>
    </form>
    <script>
        const button = document.getElementsByName("button");
button.addEventListener("submit", (event) => {
 event.preventDefault()
})
    </script>
</body>
</html>